<section id="about-me">
  <div class="section-header">Welcome!</div>
  <div class="about-me">
    <figure>
      <img src="/pictures/headshot.jpg" caption="Handsome devil">
      <figcaption>Handsome devil</figcaption>
    </figure>
    <article>
      Howdy, my name's PJ Pollina, I'm a <%= ((Date.today - Date.new(2000, 1, 8)) / 365).to_i %> year old self-taught programmer, runner, community college
      student, casual game collector and Taco Bell night-shift cashier from Long Island. I've been studying computer science for about <%= ((Date.today - Date.new(2016, 10)) / 365).to_i %>
      years now as a hobby/primary reason to get up in the morning. This site started out as a passion project for learning web design and development, and that's
      still its primary function, but since it's working now I figured I might as well use it for blogging or code tutorials or something, I dunno, depends on if I
      feel up to it or not.
    </article>
  </div>
</section>

<section id="recent-posts">
  <%= Website::Blog::Renderer.render_view(:post_feed, title: "Recent Posts", posts: recent_posts) %>
</section>