<h1>New Post</h1>
<form id="new-post" action="/new_blog_post" method="post" class="post-form">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="New Post" maxlength=255 required>
  </div>
  <div>
    <label for="slug">Slug</label>
    <input type="text" id="slug" name="slug" placeholder="post_slug" maxlength=255 required>
  </div>
  <div>
    <label for="category">Category</label>
    <input list="categories" id="category" name="category" placeholder="Misc" maxlength=255 required>
    <datalist id="categories">
      <% categories.each do |category| %>
      <option value="<%= category %>">
      <% end %>
    </datalist>
  </div>
  <div>
    <label for="desc">Description</label>
    <textarea type="text" id="desc" name="desc" placeholder="Lorem ipsum" maxlength=255 required></textarea>
  </div>
  <div>
    <label for="body">Body</label>
    <textarea type="text" id="body" name="body" placeholder="Lorem ipsum" maxlength=65535 required></textarea>
    <input type="file" id="body-uploader">
  </div>
  <div>
    <input type="submit" id="submit" value="Submit" disabled>
  </div>
</form>