<article class="blog-post">
  <span class="metaheader"><%= post.date_formatted %>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<%= post.category_link %></span>
  <span class="title"><%= post.title %></span>
  <section class="body">
    <%= post.parsed_body %>
  </section>
  <% if admin %><button onclick="window.location.search += '?edit=true';">Edit</button><% end %>
</article>