<!-- General site layout file -->

<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <link rel="shortcut icon" href="/pictures/icons/favicon.ico">
  <link rel="stylesheet" href="/css/style.css">
  <title><%= "#{$config_info[:site_name]} | #{page_name}" %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src="/javascript/new_post.js"></script>
  <script src="/javascript/edit_post.js"></script>
  <script src="/javascript/special_buttons.js"></script>
</head>

<body>
  <header>
    <div class="wrapper">
      <a class="site-title" href='/'><%= $config_info[:site_name] %></a>
      <nav class="site-navigator">
        <a href='/archive'>Archive</a>
        <% if admin %><a href='/new_post'>New Post</a><% end %>
      </nav>
    </div>
  </header>
  <main class="wrapper">
    <%= yield %>
  </main>
  <footer>
    <div class="wrapper">
      <p style="text-align: center;">&copy; 2019 PJ Pollina</p>
    </div>
  </footer>
</body>
</html>