<!-- General site layout file -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="shortcut icon" href="/pictures/icons/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu|Nunito">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/post.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/post_feed.css">
  <title><%= "#{Website.config_info[:site_name]} | #{page_name}" %></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src="/javascript/dropdown.js"></script>
  <script src="/javascript/new_post.js"></script>
  <script src="/javascript/edit_post.js"></script>
  <script src="/javascript/special_buttons.js"></script>
</head>

<body>
  <header>
    <div class="wrapper">
      <a class="navbar-title" href="/"><%= Website.config_info[:site_name] %></a>
      <nav class="navbar">
        <a class="navbar-link" href="/archive">Archive</a>
        <% if admin %>
        <div class="navbar-dropdown" id="admin-tab">
          <button class="navbar-link">
            Admin
            <div class="navbar-dropdown-content" id="admin-tab-content">
              <a href="/new_post">New Post</a>
              <a href="/admin-logout">Log Out</a>
            </div>
          </button>
        </div>
        <% end %>
      </nav>
    </div>
  </header>
  <main class="wrapper">
    <%= yield %>
  </main>
  <footer>
    <div class="wrapper">
      <p style="text-align: center;">&copy; <%= Time.now.year %> PJ Pollina</p>
    </div>
  </footer>
</body>
</html>