.post-form {
  max-width: 860px;
  padding: 20px;
}

.post-form div {
  display: block;
  list-style: none;
  margin-bottom: 20px;
}

.post-form label {
  margin-bottom: 3px;
  display: block;
}

.post-form input {
  width: 375px;
  height: 25px;
  padding: 2px; }
.post-form input:read-only {
  color: #545454;
  border: 1px solid #A9A9A9;
  background-color: #EBEBE4;
}

.post-form #submit {
  width: 383px;
  height: 30px;
  padding: 0px;
  margin-top: 10px;
  border: 1px solid;
  border-radius: 4px;
  background-color: #FFF;
  cursor: pointer; }
.post-form #submit:disabled {
  color: #545454;
  border: 1px solid #A9A9A9;
  background-color: #EBEBE4;
  cursor: not-allowed; }
.post-form #submit:hover:not(:disabled) {
  background-color: #CCC;
}

.post-form .error {
  display: none;
  width: 375px;
  padding: 4px;
  border-color: #D43F3A;
  background-color: lightsalmon;
}

.post-form textarea {
  width: 975px;
  height: 400px;
  padding: 8px;
}

.post-form #desc {
  width: 675px;
  height: 50px;
  padding: 8px;
}

.post-form #delete-post {
  width: 340px;
  height: 30px;
  margin-top: 10px;
  color: #FFF;
  background-color: #E33B4B;
  border: 1px solid #D43F3A;
  border-radius: 4px;
  cursor: pointer;
  float: right; }
.post-form #delete-post:hover {
  background-color: #D43F3A;
}