.post-form {
  max-width: 860px;
  padding: 20px;
}

.post-form div {
  display: block;
  list-style: none;
  margin-bottom: 20px;
}

.post-form label {
  margin-bottom: 3px;
  display: block;
}

.post-form input {
  width: 375px;
  height: 25px;
  padding: 2px;
}
.post-form input#submit {
  width: 383px;
  height: 30px;
  padding: 0px;
  margin-top: 10px;
  border: 1px solid;
  border-radius: 4px;
  background-color: #FFF;
  cursor: pointer;
}
.post-form input#submit:hover {
  background-color: #CCC;
}

.post-form .error {
  border-color: red;
}
.post-form label.error {
  width: 375px;
  padding: 4px;
  background-color: lightsalmon;
}

.post-form textarea {
  width: 680px;
  height: 250px;
  padding: 8px;
}