.navbar {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  float: right; }
.navbar * {
  color: #FFF;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

.navbar-title {
  color: #FFF;
  float: left;
  font-size: 26px;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: -1px;
  padding: 0px 30px;
  font-family: 'Ubuntu', sans-serif; }
.navbar-title:hover {
  text-decoration: underline;
}

.navbar-link {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 60px;
  width: 120px;
  border: 0;
  background-color: var(--dopalette-blue);
  text-decoration: none;
  margin: 0;
  padding: 0; }
.navbar-link:hover, .navbar-link:active {
  color: var(--dopalette-blue);
  background-color: #FFF;
  cursor: pointer;
  text-decoration: none;
}

.navbar-dropdown {
  text-align: center;
  line-height: 60px;
  width: 120px;
  text-decoration: none;
  border: none;
  outline: none;
  margin: 0;
}

.navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #F1F1F1;
  font-size: 16px;
  min-width: 120px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1; }
.navbar-dropdown-content a {
  color: var(--dopalette-text-dark);
  text-decoration: none;
  display: block;
  line-height: 40px; }
.navbar-dropdown-content a:hover {
  background-color: #DDD;
}

@media (max-width: 480px) {
  .navbar-title {
    padding: 0;
  }
  .navbar-link, .navbar-dropdown {
    display: none;
  }
}