:root {
  --dopalette-blue: #0069FF;
  --dopalette-navy: #010E28;
  --dopalette-text-dark: #031B4E;
  --dopalette-text-light: #868696;
  --dopalette-background: #F3F5F9;
}

html {
  color: var(--dopalette-text-dark);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: url("/pictures/background.jpg") no-repeat fixed;
}

header {
  height: 60px;
  position: relative;
  background-color: var(--dopalette-blue);
  flex-shrink: 0;
}

main {
  width: 100%;
  background-color: var(--dopalette-background);
  padding-top: 12px;
  padding-bottom: 12px;
  min-height: 81vh;
  flex-grow: 1;
  flex-shrink: 0;
}

footer {
  position: relative;
  padding: 20px 0;
  width: 100%;
  color: var(--dopalette-text-light);
  background-color: var(--dopalette-navy);
  flex-shrink: 0;
}

a {
  color: inherit;
  text-decoration: none; }
a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

.wrapper {
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 45px;
}

.error-page {
  text-align: center;
  font-size: 2em; }
.error-page .section-header {
  font-size: 6em;
  margin: 40px; }
.error-page button {
  width: 200px;
  height: 30px;
  padding: 0px;
  margin-top: 40px;
  border: 1px solid;
  border-radius: 4px;
  background-color: #FFF;
  cursor: pointer; }
.error-page button:hover {
  background-color: #CCC;
}

.section-header {
  text-align: center;
  font-size: 24px;
  font-weight: 450;
  margin-top: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.about-me {
  display: flex;
  flex-direction: row;
  margin-top: 20px; }
.about-me article {
  font-size: 1.25em;
  font-weight: lighter; }
.about-me figure {
  margin: 0.5em 2.5em 1.0em;
  padding: 0.5em;
  background: #FFF;
  text-align: center;
  border: thin var(--dopalette-text-dark) solid;
  box-shadow: 8px 14px 38px #010E280E, 1px 3px 8px #010E2807;
  transform: rotate(-2deg); }
.about-me figure img {
  width: 12.5em;
  height: 12.5em;
}

.blog-post {
  margin: 40px 0 60px; }
.blog-post .title {
  font-size: 2.25em;
  font-weight: 500;
  text-align: center;
  font-family: 'Ubuntu', 'sans-serif';
  display: block; }
.blog-post .metaheader {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  display: block;
  text-transform: uppercase;
  color: var(--dopalette-text-light); }
.blog-post .body {
  font-size: 1.125em;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0px; }
.social-icons svg {
  width: 2.25em;
  height: 2.25em;
  padding: 0.5em; }
.social-icons a {
  padding: 0em 1em;
  fill: var(--dopalette-text-light); }
.social-icons a:hover {
  fill: #FFF;
}