<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="shortcut icon" href="/icons/favicon.ico">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/form.css">
  <title><%= controller.page_name + ' | New Post'%></title>
</head>

<body>
  <h1>New Post</h1>
  <form action='/new_blog_post' method='post'>
    <ul class='post_form'>
      <li>
        <label for='title'>Title</label>
        <input type='text' id='title' name='title' placeholder='New Post' required>
      </li>
      <li>
        <label for='slug'>Slug</label>
        <input type='text' id='slug' name='slug' placeholder='post_slug' required>
      </li>
      <li>
        <label for='body'>Body</label>
        <textarea type='text' id='body' name='body' placeholder='Lorem ipsum' required></textarea>
      </li>
      <li>
        <label for='password'>Password</label>
        <input type='password' id='password' name='password' required>
      </li>
      <li>
        <input type='submit' value='Submit'>
      </li>
    </ul>
  </form>
</body>
</html>