<section style="margin-top: 20px">
  <span class="section-header">Archives</span>
  <div style="margin: 1em 0em">
    <% archives.each do |year, months| %>
      <% months.each do |month, count| %>
      <a href="/archive/<%= "#{year}/#{Date::MONTHNAMES[month].downcase}" %>"><%= "#{Date::MONTHNAMES[month]} #{year} (#{count})" %></a>
      <% end %>
    <% end %>
  </div>
</section>

<section>
  <span class="section-header">Categories</span>
  <div style="margin: 1em 0em">
    <% categories.each do |category| %>
    <a href="/category/<%= Website::Utils.name_to_slug(category) %>"><%= "#{category} (#{counts[category]})" %></a><br>
    <% end %>
  </div>
</section>