<h1><%= post.title %></h1>
<div class="post-timestamp">Posted <%= post.date_formatted %></div>
<p><%= post.parsed_body %></p>
<% if admin %><button onclick="updatePostButton();">Edit</button><% end %>