<!-- HTML template for blog post page -->

<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="shortcut icon" href="/icons/favicon.ico">
  <title><%= PAGE_NAME + ' | ' + @title %></title>
</head>

<body>
  <h1><%= @title %></h1>
  Posted <%= @date %>
  <p><%= @body %></p>
</body>
</html>